In [55]:
import pandas as pd
import requests
import json
import re

In [64]:
def (string):
    return re.sub(r'(?<!^)(?=[A-Z])', '_', string).lower()

i_c_a_o_empresa_aérea

In [67]:
airlines_json_file = r'.\VRA\VRA_20211.json'
airlines_json = pd.read_json(airlines_json_file, encoding='utf-8-sig')
airlines_json.head()

,ICAOEmpresaAérea,NúmeroVoo,CódigoAutorização,CódigoTipoLinha,ICAOAeródromoOrigem,ICAOAeródromoDestino,PartidaPrevista,PartidaReal,ChegadaPrevista,ChegadaReal,SituaçãoVoo,CódigoJustificativa
0,MWM,9702,7,C,SBBE,SBEG,2021-01-19 12:35:00,2021-01-19 17:17:00,2021-01-19 14:45:00,2021-01-19 19:22:00,REALIZADO,N/A
1,MWM,9701,7,C,SBGL,SBPA,2021-01-26 10:00:00,2021-01-26 09:55:00,2021-01-26 12:05:00,2021-01-26 12:04:00,REALIZADO,N/A
2,MWM,9701,7,C,SBEG,SBBE,2021-01-18 21:15:00,2021-01-18 22:35:00,2021-01-18 23:20:00,2021-01-19 00:50:00,REALIZADO,N/A
3,MWM,9700,0,C,SBGL,SBEG,2021-01-14 20:30:00,2021-01-14 20:27:00,2021-01-15 00:45:00,2021-01-15 00:39:00,REALIZADO,N/A
4,MWM,9700,7,C,SBKP,SBEG,2021-01-24 11:30:00,2021-01-24 19:35:00,2021-01-24 15:10:00,2021-01-24 23:21:00,REALIZADO,N/A

In [66]:
lista_nomes = airlines_json.columns.values.tolist()
lista_nomes

['ICAOEmpresaAérea',
 'NúmeroVoo',
 'CódigoAutorização',
 'CódigoTipoLinha',
 'ICAOAeródromoOrigem',
 'ICAOAeródromoDestino',
 'PartidaPrevista',
 'PartidaReal',
 'ChegadaPrevista',
 'ChegadaReal',
 'SituaçãoVoo',
 'CódigoJustificativa']

In [ ]:
nova_lista = map(lista_nomes, ('apple', 'banana', 'cherry'))